@using TiendaEntidades
@model Login
@{
    Layout = "_LayoutLogin";
}
@if (ViewData["MENSAJE"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @ViewData["MENSAJE"]
    </div>
}

<div class="card signup_v4 mb-30">
    <div class="card-body">
        <h3>Login</h3>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
   </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}